In [58]:
import nltk

In [59]:
documents = [
    'Modi is the Prime Minister of India',
    'Biden is the president of USA',
    'Putin is the president of russia',
    'Sunak is the prime minister of UK',
            ]

In [60]:
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.metrics.pairwise import cosine_similarity
import pandas as pd
import numpy as np

In [61]:
text = input("ASK THE QUESTION:- ")
documents = [text]+documents
documents

ASK THE QUESTION:- who is the president of usa

['who is the president of usa',
 'Modi is the Prime Minister of India',
 'Biden is the president of USA',
 'Putin is the president of russia',
 'Sunak is the prime minister of UK']

In [62]:
count_vectorizer = CountVectorizer(stop_words ="english")
vectorizer = count_vectorizer.fit_transform(documents)
vectors = vectorizer.todense()
vectors

matrix([[0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1],
        [0, 1, 1, 1, 0, 1, 0, 0, 0, 0, 0],
        [1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1],
        [0, 0, 0, 0, 1, 0, 1, 1, 0, 0, 0],
        [0, 0, 1, 0, 0, 1, 0, 0, 1, 1, 0]], dtype=int64)

In [63]:
df = pd.DataFrame(vectors)
df

   0   1   2   3   4   5   6   7   8   9   10
0   0   0   0   0   1   0   0   0   0   0   1
1   0   1   1   1   0   1   0   0   0   0   0
2   1   0   0   0   1   0   0   0   0   0   1
3   0   0   0   0   1   0   1   1   0   0   0
4   0   0   1   0   0   1   0   0   1   1   0

In [64]:
d = cosine_similarity(df,df)
d

array([[1.        , 0.        , 0.81649658, 0.40824829, 0.        ],
       [0.        , 1.        , 0.        , 0.        , 0.5       ],
       [0.81649658, 0.        , 1.        , 0.33333333, 0.        ],
       [0.40824829, 0.        , 0.33333333, 1.        , 0.        ],
       [0.        , 0.5       , 0.        , 0.        , 1.        ]])

In [65]:
similar = np.argmax(d[0][1:])
similar

1

In [67]:
context = documents[similar+1]
pos_tag = nltk.pos_tag(nltk.word_tokenize(context))
pos_tag

[('Biden', 'NNP'),
 ('is', 'VBZ'),
 ('the', 'DT'),
 ('president', 'NN'),
 ('of', 'IN'),
 ('USA', 'NNP')]

In [69]:
ner_tagged_tokens = nltk.ne_chunk(pos_tag)
iob_tagged = nltk.chunk.util.tree2conlltags(ner_tagged_tokens)
iob_tagged

[('Biden', 'NNP', 'B-GPE'),
 ('is', 'VBZ', 'O'),
 ('the', 'DT', 'O'),
 ('president', 'NN', 'O'),
 ('of', 'IN', 'O'),
 ('USA', 'NNP', 'B-ORGANIZATION')]

In [71]:
for tag in iob_tagged:
    if tag[1] == 'B-PERSON' or tag[2] == 'B-GPE':
        print(tag[0])

Biden